/*
 Theme Name:     Untitled Child
 Theme URI:      http://testwestern.com/
 Description:    Untitled Child Theme
 Author:         Paul Craig
 Author URI:     http://testwestern.com
 Template:       untitled
 Version:        1.0.0

*/

/* =Imports styles from the parent theme
-------------------------------------------------------------- */
/*@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);*/
@import 'fonts/fonts.scss';
@import url('../untitled/style.css');


/* =Theme customization starts here
-------------------------------------------------------------- */

@mixin font-montserrat($weight: "regular") {
	font-family: "montserrat_" + $weight, georgia;
	font-weight: 400;
}

/*@mixin font-montserrat() {
	font-family: "Montserrat", georgia;
	font-weight: 400;
}*/


$usc_purple: #563783;
$navy: #02172E;
$grey: #53576E;
$gray: #53576E;
$lavender: #CAB8D6;
$off-white: #F2F2F2;
$translucent_grey: rgba(242, 242, 242, .95);
$translucent_gray: rgba(242, 242, 242, .95);

@mixin selectable {
  color: $lavender;
  cursor: pointer;

	&:hover,
	&:focus,
	&:active {

		color: $usc_purple;
	}
}

@mixin safe-transition($time: 0.2s, $elements: all, $easing: ease)
{
	-webkit-transition: $elements $time $easing;
	-moz-transition: $elements $time $easing;
	-o-transition: $elements $time $easing;
	transition: $elements $time $easing;
}

/* Text Elements */

input[type="search"] {
	color:$navy !important;
}

a, *[class*="__reveal"] {
  @include selectable
}

/* =Layout
----------------------------------------------- */

#masthead-wrap {
	background-color: $translucent_grey;
	position: fixed;
	z-index: 10;
}

.site-title {
	font-size: 1.5em;
	@include font-montserrat();
    padding-left: 52px;
    background: url(../../uploads/2013/10/logo_xs.png) 6px center no-repeat;

	.bold
	{
		@include font-montserrat("bold");
		/*weight: 700;*/
	}

	/* Added this as an !important rule under "Appearance->Edit CSS" */
	a {
		color: $usc_purple;

		&:hover {
			color: $grey;
		}
	}
}

#colophon-wrap {
	padding: 8px 0;
	background: $grey;
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	font-size: 1.3em;
	@include font-montserrat();
}

.main-navigation a {
	color: $grey;
	font-size: .65em;
	font-weight: 400;
}
.main-navigation li:hover > a,
.main-navigation li.current_page_item a:hover,
.main-navigation li.current-menu-item a:hover {
	color: $navy;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	color: $grey;
	text-decoration: underline;
}

/* =Featured Content
----------------------------------------------- */

div#page header.page-header {
	padding: 30px 0 0;
}

#featured-content h2{
	@include font-montserrat();
}
#featured-content h2 a, .slide-meta{
	background: $off-white;
	box-shadow: 12px 0 0 $off-white, -12px 0 0 $off-white;
	color: $grey;
	padding: 8px 0;
	opacity: .95;
	}
.slide-meta a{
	color: $grey;
	}
#featured-content h2 a:hover, .slide-meta:hover{
	opacity: 1;
	}

/* =Content 
----------------------------------------------- */

.page-title {
	color: $navy;
}
.hentry {
	border-bottom: 8px solid $off-white;
}
.format-quote blockquote,
.format-aside,
.format-link .entry-content p{
	color: $navy;
}
.entry-meta
.entry-meta a{
	color: $navy;
}
.entry-title a{
	color: $navy;
}

div.footnotes{

	h4 {
		font-size: 1em;
		margin-bottom: 1em;
	}

	p {
		font-size: .75em;
		font-style: italic;
		margin-left: 1em;
	}
}


/* =Featured image styles
----------------------------------------------- */

.entry-meta{
	color: $navy;
}
.entry-meta a{
	color: $navy;

	&:hover {
		color: $lavender;
	}
}

/* =Navigation
----------------------------------------------- */
.site-content .site-navigation {
	background: $grey;
}
.site-content .site-navigation a{
	color: $off-white;

	&:hover {
		text-decoration: none;
	}
}

.site-content .nav-previous,
.site-content .nav-next {

	&:hover,
	&:focus,
	&:active {

		background: $navy;
	}
}


	/* =Comments
----------------------------------------------- */

#comments .usc_purple {
	color: $usc_purple;
}

.comments-title {
	color: $navy;
	margin-bottom: 12px;
	font-size: 1.1em;

	@include font-montserrat();
}

#reply-title
{
	@extend .comments-title;
	color: $usc_purple;
	/* @include selectable;*/
}

.comment-meta a:hover{
	color: $navy;
}
#commentform input[type=submit] {
	font-size: 20px;
	background: $grey;
	color: $off-white;
	font-family: 'raleway', georgia, serif;
	text-transform: uppercase;

	&:hover {
		background: $navy;
	}
}

div.comment-notes-before p {
	font-size: 90%;
	margin: 12px 0 0 0;

	&.small_print {
		font-size: 80%;
		margin: 0 0 12px 0;
	}
}

p.form-allowed-tags {
	font-size: 90%;
}

p.form-allowed-tags__hidden {
	font-size: 80%;
	padding: 6px 12px;
	border-left: solid 4px $lavender; 
	background: $translucent_grey;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 30px 0 25px;
	padding: 2px;
	font-size: 15px;
	line-height: 1.5;
}
.widget h1,
.widget h2,
.widget h3,
.widget h4,
.widget h5,
.widget h6 {
	color: $navy;
}
.widget-title,
.widget-title a {
	color: $navy;
}

/*.widget_calendar #wp-calendar tbody a {
	background-color: rgba(255, 255, 255, 0.1);
}
.widget_calendar #wp-calendar tbody a:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.widget_calendar #wp-calendar {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.widget_calendar #wp-calendar thead th,
.widget_calendar #wp-calendar tbody td {
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.widget_calendar #wp-calendar tfoot td#next {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	}

/* Milestone Widget 
.widget-area .milestone-countdown,
.widget-area .milestone-message {
	 border-color: rgba(255, 255, 255, 0.2); 
}
*/
.widget-area .milestone-header,
.widget-area .milestone-countdown,
.widget-area .milestone-message {
	/*
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
	*/
	color: $navy;
}

/* =Footer
----------------------------------------------- */

#colophon {
	color: $off-white;
	font-size: .8em;
}
#colophon a{
	color: $lavender;
	}
#colophon a:hover{
	color: $navy;
	}


/* --- large screen -- */
@media screen and (min-width:891px) {
	
	div#page div#content {
		margin-top: 53px;
		@include safe-transition(0s);
	}
}

/* --- iPad Portrait --- */
@media screen and (max-width: 890px) {

	.main-navigation {
		@include font-montserrat();
	}

	#masthead-wrap {
	position: relative;
	}
}

/* --- Smartphones and small Tablet PCs --- */
@media screen and (max-width: 767px) {

	#single-main {
		padding: 4% 8%;
	}

	div#main.page-main {
		padding: 4% 8%;

		padding-top: 0;
	}

	.site-title {
		text-align: center;
		padding: 0;
    	background: none;
	}

}


/* --- Small menu --- */
$small_menu_font_size: 3.5;

@media screen and (max-width: 600px) {
	
	.site-title {
		font-size: 8vw;
	}

	.page-title {
		color: $navy;
		font-size: 1.55em;
	}

	.site-navigation h1.menu-toggle {
		color: $grey;
		font-size: $small_menu_font_size + vw;

		&:hover {
			color: $navy;
		}

		&:before {
			color: $grey;
			font-size: $small_menu_font_size + vw;
		}
	}
	.main-small-navigation .menu {
		@include font-montserrat("bold");
		/*margin: 3% 3% 0 3%;*/
		margin: 0 0 0 3%;
		font-size: ($small_menu_font_size - 0.2) + vw;
	}
	.main-small-navigation ul li a:hover {
		color: $grey;
	}

	.main-small-navigation li.current_page_item a,
	.main-small-navigation li.current-menu-item a {

		text-decoration: underline;
	}

}

$multiply_by: 1.3;

@media screen and (max-width: 600px) and (orientation : portrait) {
	.site-title {
		font-size: 9vw;
	}
	.site-navigation h1.menu-toggle {
		font-size: ($small_menu_font_size * $multiply_by) + vw;

		&:before {
			font-size: ($small_menu_font_size * $multiply_by) + vw;
		}
	}
	.main-small-navigation .menu {
		font-size: (($small_menu_font_size - 0.2) * $multiply_by) + vw;
	}
}
